@model Account.Models.SetPasswordViewModel
@{
    ViewBag.Title = "建立密碼";
}

<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title.</h2>
    <p class="text-info">
        您沒有此網站的本機使用者名稱/密碼。新增本機
        帳戶即可在沒有外部登入的情況下登入。
    </p>

    @using (Html.BeginForm("SetPassword", "Manage", FormMethod.Post, new { role = "form" }))
    {
    @Html.AntiForgeryToken()

    <h4>建立本機登入</h4>
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="row">
        @Html.LabelFor(m => m.NewPassword, new { @class = "col-md-2 col-form-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
        </div>
    </div>
    <div class="row">
        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 col-form-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
        </div>
    </div>
    <div class="row">
        <div class="offset-md-2 col-md-10">
            <input type="submit" value="設定密碼" class="btn btn-outline-dark" />
        </div>
    </div>
    }
</main>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}